.login_page{
  transform: translateY(50%);
}

.login-container {
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, .1), 0px 8px 16px rgba(0, 0, 0, .1);
  text-align: center;
  margin: auto;
  
}

.login-container ion-icon{
  font-size: 64px;
  color: var(--plesent-theme);
}

/* App title */
.app_title {
  color: var(--plesent-theme);
  display: block;
  width: fit-content;
  margin: 20px auto;
}

.login_text{
  font-size: 1.2rem;
  margin-bottom: 10px;
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
}

/* Input field styles */
input {
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  padding: 14px 16px;
  width: 100%;
}

input:focus{
  border: red;
}

input[type="text"],
input[type="password"] {
  height: 40px;
}

/* Submit button styles */
.login_submit_btn {
  background-color: var(--plesent-theme);
  color: white;
  border: none;
  padding: 14px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.login_submit_btn:hover {
  background-color: var(--plesent-theme-war);
}

/* Error message styles */
.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

/* Media Queries for Responsiveness */
@media (max-width: 600px) {
  .login-container {
    padding: 15px;
    min-width: 325px;
    /* margin: 10px; */
  }



  input {
    font-size: 14px;
  }

  .login_submit_btn {
    font-size: 14px;
    padding: 12px;
  }
}