.floating-input-container {
  position: relative;
  margin: 15px 10px;
}

.floating-label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 16px;
  transition: 0.2s ease all;
  pointer-events: none;
  color: #aaa;
}

.floating-label.active {
  top: -10px;
  font-size: 12px;
  color: gray;
}

.floating-input {
  background-color: rgb(230, 230, 230);
  width: 100%;
  padding: 15px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: 0.2s ease all;
}

.floating-input:focus {
  border-color: white; /* Border color on focus */
}
