@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --body-theme: #f4f4f4;
    --plesent-theme: #1877f2;
    --plesent-theme-war:#000000;
    --catch-theme : #E38E49;

}

* {
}


body {
    text-align: center;
    background-color: var(--body-theme);
    font-family: "Roboto", sans-serif;
  }

  button{
    border: none;
  }